body {
    font-family: 'Noto Sans TC', sans-serif;
  }
  
// font-weight: {Thin:100, Extra-light:200, Light:300, Regular:400, Medium:500, Semi-bold:600, Bold:700, Extra-bold:800, Black:900}
.BT {
    font-family: 'Baloo Tamma 2', cursive, sans-serif;
}

$font-weight: (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
    900: 900,
);

$font-size: (
    1: 12px,
    2: 14px,
    3: 16px,
    4: 18px,
    5: 20px,
    6: 24px,
    7: 32px,
);

// Bootstrap
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $space: breakpoint-infix($breakpoint,$grid-breakpoints);
        @each $size, $weight in $font-weight {
            .fw#{$space}-#{$size} {
                font-weight: $weight;
            }
        }
        @each $size, $fz in $font-size {
            .fz#{$space}-#{$size} {
                font-size: $fz;
            }
        }
    }
}
