.zoom:hover {
    transform: scale(1.5, 1.5);
}
.curtain-up {
    &:hover a {
            color: $white !important;
            text-decoration: none;
    }
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-property: color;
    transition-duration: 0.3s;
    &:hover::after {
        transform: scaleY(1);
    }
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary;
        transform: scaleY(0);
        transform-origin: 50% 100%;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
}

.btn-hover:hover {
    color: $white !important;
    background-color: $warning;
    border: 2px solid $warning;
}

.btn-hover-outline:hover {
    color: $gray-0 !important;
    background-color: $primary;
    border: 2px solid $primary;
}
.nav-hover {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    &:hover {
        font-weight: 600;
        border: 0;
        border-bottom: 2px solid $secondary;
    }
    
}